/.env

# Ignore all files and folders in the 'volumes' directory
volumes/*

# Don't ignore 'pg_slave' and 'pg_asyncslave' folders
!volumes/pg_slave/
!volumes/pg_asyncslave/

# Ignore everything inside 'pg_slave' and 'pg_asyncslave'
volumes/pg_slave/*
volumes/pg_asyncslave/*

# Don't ignore .gitkeep files to ensure directories are kept in the repository
!volumes/pg_slave/.gitkeep
!volumes/pg_asyncslave/.gitkeep

# Blazor
client/obj/
client/bin/

# Spring Boot
server/target/
server/Api/obj/
server/Api/bin/
server/Application/obj/
server/Application/bin/
server/Infrastructure/obj/
server/Infrastructure/bin/
server/Domain/obj/
server/Domain/bin/